@charset "UTF-8";

:root {
    --cor0: #06a663;
    --cor1: #adadad73;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    background-color: var(--cor0);
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.314);
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

header > h1 {
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.197);
}

header > p {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.197);
}

header > div.foto {
    width: 200px;
    height: 200px;
    background-image: url("../imagens/EU.jfif");
    background-position: center center;
    float: right;
    background-size: 200px;
    border-radius: 50%;
    margin: -55px 80px 0px 0px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul li {
    margin-bottom: 5px;
}

ul li.mail {
    list-style-type: none;
    list-style-position: inside;
    color: white;
    font-weight: 100;
}

ul li.phone {
    list-style-type: none;
    list-style-position: inside;
    color: white;
}

ul li.adress {
    list-style-type: none;
    list-style-position: inside;
    color: white;
}

header > ul > li > img {
    padding-right: 10px;
}

header > div.box {
    padding-top: 10px;
}

header > div.box > abbr > a >img.git {
    margin-left: 30px;
}

header > div.box > abbr > a >img.linkedin {
    margin-left: -20px;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.314);
    border-radius: 20px;
}
 main > p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    text-align: justify;
    padding-bottom: 40px;
    text-indent: 10px;
 }

 main > hr {
    color: #ffffff;
 }

 main > div {
    text-align: center;
    padding-top: 60px;
 }
 
 main > div > a {
    background-color: var(--cor0);
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
    transition-duration: 1s;
    margin: 5px;
    font-size: small;
 }

 main > div > a:hover {
    background-color: white;
    text-decoration: none;
    color: var(--cor0);
 }

 footer {
    background-color: var(--cor0);
    margin: auto;
    margin-bottom: 50px;
    max-width: 800px;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.314);
 }
  footer p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-style: italic;
  }
